<%= f.error_messages %>
<% plate = plate_edition.plate %>
<h3>Plate - <%= "#{plate.layout_name}:#{plate.instance_name}:#{plate.plate_name}" %></h2>
<%= labeled_field f, :text_field, :name, 'edition name', 'name' %>
<%= labeled_field f, :text_area, :description, 'description', 'description-area', { :rows => 3, :cols => 100, :class => 'description' } %>
<%= labeled_field f, :text_area, :content, 'content', 'content-area', { :rows => 10, :cols => 100, :wrap => 'off', :class => 'content' } %>
<%= f.hidden_field :event_id %>
<ul class="checkbox">
  <li><%= f.check_box :publish %> <%= f.label :publish %></li>
  <li><%= f.check_box :default_edition %> <%= f.label :default_edition, "Fallback edition" %></li>
</ul>
<%= render :partial => 'shared/form_buttons', :locals => { :f => f, :button_text => button_text, :show_apply => true, :cancel => cancel } %>
