<% pe = plate_edition %>
<div class="action"><%= link_to_plate_edition_edit(pe) %></div>
<div class="toggle + <%= plate_edition_klasses(pe) %>"><h2><a href="#" class="<%= pe.default_edition ? 'asterisk-icon' : '' %>"><%= pe.name %></a></h2></div>
<%- unless plate_edition.event.nil? -%>
  <%- times_klasses = " event " + event_klasses(plate_edition.event) -%>
<%- end -%>
<div class="times<%= times_klasses %>">
  <%= link_to(plate_edition.event.name + ': ',event_path(plate_edition.event)) unless plate_edition.event.nil? %>
  <%= pretty_time(pe.start_time) %> - <%= pretty_time(pe.end_time) %>
</div>
<div class="description"><%= pe.description %></div>
<div class="content hidden toggleable"><%= h pe.content %></div>